#server configuration

SERVER_PORT = 8080
SERVER_READ_TIMEOUT= 15s
SERVER_WRITE_TIMEOUT = 15s
SERVER_IDLE_TIMEOUT = 60s


#DATABASE CONFIGURATION
DATABASE_HOST = localhost
DATABASE_PORT = 5432
DATABASE_USER= walletuser
DATABASE_PASSWORD = secure_password_here
DATABASE_NAME = walletdb
DB_SSL_MODE =disable
DB_MAX_CONN=25
DB_MIN_CONN =5 
DB_MAX_IDLE_TIME=15m
DB_HEALTH_PERIOD = 1m


#JWT CONFIGARATION
JWT_SECRET= youaresoseriousguywhoneverplaysqwewrfayafayfvbafbvyauhufh
JWT_EXPIRY=24h
JWT_ISSUER= wallet_system
JWT_AUDIENCE= wallet_user


#APPLICATION CONFIGURATION
APP_ENV= development
APP_DEBUG= true
APP_LOG_LEVEL =debug


#REDIS CONFIGURATION
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0


#RATELIMITING CONFIGURATION
RATE_LIMIT_REQUEST=100
RATE_LIMIT_WINDOW=1m